@page "/webscraper"

<h1>Scrape Web</h1>


<EditForm OnSubmit="HandleSubmit" Model="webScraper">
    <InputText @bind-Value="url">Url</InputText>
    <InputText @bind-Value="attributes">Attributes</InputText>
    <button type="submit">Submit</button>
    <InputTextArea readonly="readonly" @bind-Value="txt">Text</InputTextArea>
    <InputTextArea readonly="readonly" @bind-Value="txt2">Text</InputTextArea>
</EditForm>

@code {
    RuledWebScraper.Shared.Models.WebScraper webScraper = new RuledWebScraper.Shared.Models.WebScraper("");
    private string url { get; set; }
    private string attributes { get; set; }
    private string txt { get; set; } = "Submit a URL and some attributes (separated by spaces)";
    private string txt2 { get; set; } = "Submit";


    private async void HandleSubmit()
    {
        string[] atts = attributes.Split(" ");
        webScraper.SetUrl(url);
        webScraper.SetRequired(atts);
        webScraper = new RuledWebScraper.Shared.Models.WebScraper(url, atts);

        Dictionary<int, bool> results = new Dictionary<int, bool>();

        string html = await webScraper.GetHtmlFromPage();

        webScraper.AllTagsContainAttributes(html, out results, atts);

        txt2 = html;

        using (System.IO.StringReader reader = new System.IO.StringReader(txt2))
        {
            txt = "";
            for (int i = 0; i < results.Count; i++)
            {
                txt = txt + "\n" + results[i] + reader.ReadLine();
                i++;

            }
        }
    }
}